body {
  text-align: center;
  background-color: lightblue;
  background-size: cover;
  font-family: "Comic Sans MS", monospace;
}
h1 {
  margin: 0 auto;
  font-family: "Comic Sans MS", monospace;
  font-size: 48px;
  color: black;
  margin: 2%;
}

h2, h3 {
  font-size: 36px;
  font-weight: lighter;
  color: black;
  margin: 2%;
}

table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

th, td {
    border: 2px solid gray;
    background-size: cover;
    height: 30px;
    width: 25%
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.wrap {
  background-size: cover;
  flex-wrap: wrap;
  height: 456px;
  width: 456px;
}

.square {
  border: 1px solid gray;
  font-size: 96px;
  height: 150px;
  line-height: 150px;
  user-select: none;
  width: 150px;
  color: black;
}

.square:hover {
  background-image: url("../images/tic-tac-toe/flexseal.webp");
  background-size: cover;
  cursor: pointer;
}
.number-of-wins {
  color: black;
}
.pic {
  opacity: 0.09;
}

#reset-button {
  background-image: url("../images/tic-tac-toe/flexboat.jpg");
  background-size: cover;
  border: 3px solid black;
  color: Red;
  font-size: 40px;
  line-height: 500px;
  margin: 1%;
  text-align: center;
  width: 60%;
}

#change-order-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    background-size: cover;
    border: 3px solid black;
    color: black;
    font-size: 50px;
    text-align: center;
    width: 225px;
    height: 75px;
}

#reset-score-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-size: cover;
    border: 3px solid black;
    color: black;
    font-size: 20px;
    text-align: center;
    width: 200px;
}
#h3 {
  font-size: 36px;
  border-radius: 3px;
}

#reset-button:hover, #change-order-button:hover, #reset-score-button:hover {
  border-color: lightgray;
  cursor: pointer;
}

#reset-button:active, #change-order-button:active, #reset-score-button:active {
  transform: scale(0.99);
}
